version: "3.8"

services:
  app:
    build: ./app
    container_name: flask_app
    expose:
      - "5000"

  nginx:
    build: ./nginx
    container_name: nginx_server
    ports:
      - "8000:80"
    depends_on:
      - app

