version: "3.8"

services:
  app:
    build: ./app
    container_name: flask_app

  nginx:
    build: ./nginx
    container_name: nginx_server
    ports:
      - "8080:80"
    depends_on:
      - app

